<div id="computers_table">
	<table class="table product-table">
		<thead>
			<th></th>
			<th></th>
			<th>Imagen</th>
			<th>Marca</th>
			<th>Categoria</th>
			<th>Modelo</th>
			<th>Tamaño</th>
			<th>Precio de Referencia</th>
		</thead>
		<tbody>
			<% if !@computers.empty? %>
				<% @computers.each do |computer|%>
				<% session[:selected_items] ||= [] %>
					<tr>
						<td><%= hidden_field_tag 'product[]', 'd-'+computer.id.to_s%></td>
						<td><%= check_box_tag 'product[]', 'a-'+computer.id.to_s, session[:selected_items].include?(computer.id) , :onclick => "$('#select_products_form').submit();" %></td>
						<td><%= link_to (image_tag computer.img_ref, :size => '120x120'), computer %></td>
						<td><%= link_to ComputersMarca.find(computer.marca).marca.upcase, computer %></td>
						<td><%= ComputersCategory.find(computer.categoria).category%></td>
						<td><%= computer.modelo.upcase %></td>
						<td><%= ComputersScreenSize.find(computer.screen_size).size%></td>
						<td><%= number_to_currency(computer.precio, :unit => '$', :precision => 0) %></td>
					</tr>
				<% end %>
			<% else %>
				<td colspan="8">No se ha podido encontrar productos con las caracteristicas requeridas</td>
			<% end %>
		</tbody>
	</table>
</div>
