<div class="container">
	<h1>Comparación de Computadores</h1>
	<div class="row">
		<div class="span12">
			<h3>Equipo</h3>
			<div class="row">
				<div class="span12">
					<table class="table table-bordered compare-table <%= 'compare-'+ @items_to_compare.to_s %>">
						<tr>
							<th>Imagen</th>
							<% @selected_items.each do |i| %>
							<td> <%= image_tag i.img_ref, :size => '100x100'%></td>
								<% end %>
						</tr>
						<tr>
							<th>Equipo</th>
							<% @selected_items.each do |i| %>
							<td><%= Marca.find(i.marca_id).nombre_marca+' '+i.modelo%></td>
							<% end %>
						</tr>
						<tr>
							<th>Sistema Operativo</th>
							<% @selected_items.each do |i| %>
							<td> <%= ComputersSo.find(i.sist_operativo_id).sist_operativo%></td>
								<% end %>
						</tr>
						<tr>
							<th>Precio Referencial</th>
							<% @selected_items.each do |i| %>
							<td> <%= number_to_currency(i.precio, :unit => '$', :precision => 0)%></td>
								<% end %>
						</tr>
					</table>
				</div>
			</div>
			<h3>Procesador</h3>
			<div class="row">
				<div class="span12">
					<table class="table table-bordered compare-table <%= 'compare-'+ @items_to_compare.to_s %>">
						<tr>
							<th>Marca</th>
							<% @selected_items.each do |i| %>
							<td> <%= ComputersProce.find(i.proce_marca_id).marca%></td>
						<% end %>
						</tr>
						<tr>
							<th>Modelo</th>
							<% @selected_items.each do |i| %>
							<td> <%= i.proce_version.upcase%></td>
						<% end %>
						</tr>
						<tr>
							<th>Velocidad</th>
							<% @selected_items.each do |i| %>
							<td> <%= i.proce_velocidad %> GHz</td>
						<% end %>
						</tr>
						<tr>
							<th>Nucleos</th>
							<% @selected_items.each do |i| %>
							<td> <%= i.proce_nucleos%></td>
						<% end %>
						</tr>
					</table>
				</div>
			</div>

			<h3> Batería</h3>
			<div class="row">
				<div class="span12">
					<table class="table table-bordered compare-table <%= 'compare-'+ @items_to_compare.to_s %>">
						<tr>
							<th>Tipo</th>
							<% @selected_items.each do |i| %>
							<td><%= i.bateria%></td>
							<% end %>
						</tr>
						<tr>
							<th>Celdas</th>
							<% @selected_items.each do |i| %>
							<td><%= i.bateria_celdas%></td>
							<% end %>
						</tr>
						<tr>
							<th>Duración</th>
							<% @selected_items.each do |i| %>
							<td><%= i.bateria_duracion%></td>
							<% end %>
						</tr>
					</table>
				</div>
			</div>

			<h3>Memoria</h3>
			<div class="row">
				<div class="span12">
					<table class="table table-bordered compare-table <%= 'compare-'+ @items_to_compare.to_s %>">
						<tr>
							<th>Memoria Incluida</th>
							<% @selected_items.each do |i| %>
							<td><%= i.memoria%></td>
							<% end %>
						</tr>
						<tr>
							<th>Tipo Memoria</th>
							<% @selected_items.each do |i| %>
							<td><%= ComputersMemoria.find(i.memoria_tipo).tipo%></td>
							<% end %>
						</tr>
						<tr>
							<th>Velocidad Memoria</th>
							<% @selected_items.each do |i| %>
							<td><%= i.memoria_velocidad%></td>
							<% end %>
						</tr>
						<tr>
							<th>Memoria Máxima</th>
							<% @selected_items.each do |i| %>
							<td><%= i.memoria_max%></td>
							<% end %>
						</tr>
						<tr>
							<th>Ranuras Memoria</th>
							<% @selected_items.each do |i| %>
							<td><%= i.memoria_ranuras%></td>
							<% end %>
						</tr>
					</table>
				</div>
			</div>

			<h3>Disco</h3>
			<div class="row">
				<div class="span12">
					<table class="table table-bordered compare-table <%= 'compare-'+ @items_to_compare.to_s %>">
						<tr>
							<th>Capacidad</th>
							<% @selected_items.each do |i| %>
							<td><%= i.disco_capacidad%></td>
							<% end %>
						</tr>
						<tr>
							<th>Velocidad</th>
							<% @selected_items.each do |i| %>
							<td><%= i.disco_velocidad%></td>
							<% end %>
						</tr>
						<tr>
							<th>Disco SSD</th>
							<% @selected_items.each do |i| %>
							<td><%= i.disco_ssd%></td>
							<% end %>
						</tr>
					</table>
				</div>
			</div>

			<h3>Pantalla</h3>
			<div class="row">
				<div class="span12">
					<table class="table table-bordered compare-table <%= 'compare-'+ @items_to_compare.to_s %>">
						<tr>
							<th>Tamaño</th>
							<% @selected_items.each do |i| %>
							<td><%= DisplaySize.find(i.screen_size).size%></td>
							<% end %>
						</tr>
						<tr>
							<th>Resolución</th>
							<% @selected_items.each do |i| %>
							<td><%= DisplayResolution.find(i.screen_resol).resolution%></td>
							<% end %>
						</tr>
						<tr>
							<th>Tipo</th>
							<% @selected_items.each do |i| %>
							<td><%= DisplayTech.find(i.screen_type).nombre%></td>
							<% end %>
						</tr>
						<tr>
							<th>Pantalla Touch</th>
							<% @selected_items.each do |i| %>
							<td><%= boolean_product_feature(i.screen_touch)%></td>
							<% end %>
						</tr>
					</table>
				</div>
			</div>

			<h3>Video</h3>
			<div class="row">
				<div class="span12">
					<table class="table table-bordered compare-table <%= 'compare-'+ @items_to_compare.to_s %>">
						<tr>
							<th>Modelo T. Video</th>
							<% @selected_items.each do |i| %>
							<td><%= i.video_modelo%></td>
							<% end %>
						</tr>
						<tr>
							<th>Memoria de Video</th>
							<% @selected_items.each do |i| %>
							<td><%= i.video_memoria %></td>
							<% end %>
						</tr>
						<tr>
							<th>Tipo de Memoria</th>
							<% @selected_items.each do |i| %>
							<td><%= ComputersMemoria.find(i.video_tipo_memoria).tipo%></td>
							<% end %>
						</tr>
					</table>
				</div>
			</div>

			<h3>Características Adicionales</h3>
			<div class="row">
				<div class="span12">
					<table class="table table-bordered compare-table <%= 'compare-'+ @items_to_compare.to_s %>">
						<tr>
							<th>Webcam</th>
							<% @selected_items.each do |i| %>
							<td><%= boolean_product_feature(i.webcam)%></td>
							<% end %>
						</tr>
						<tr>
							<th>Conexión Ethernet</th>
							<% @selected_items.each do |i| %>
							<td><%= boolean_product_feature(i.ethernet)%></td>
							<% end %>
						</tr>
						<tr>
							<th>Lector de Tarjetas de Memoria</th>
							<% @selected_items.each do |i| %>
							<td><%= i.lector_tarjeta_memoria%></td>
							<% end %>
						</tr>
						<tr>
							<th>Puerto HDMI</th>
							<% @selected_items.each do |i| %>
							<td><%= boolean_product_feature(i.hdmi)%></td>
							<% end %>
						</tr>
						<tr>
							<th>Puerto VGA</th>
							<% @selected_items.each do |i| %>
							<td><%= boolean_product_feature(i.vga)%></td>
							<% end %>
						</tr>
						<tr>
							<th>Conexión Wi-Fi</th>
							<% @selected_items.each do |i| %>
							<td><%= RedProtocol.find(i.wifi).nombre%></td>
							<% end %>
						</tr>
						<tr>
							<th>Bluetooth</th>
							<% @selected_items.each do |i| %>
							<td><%= RedProtocol.find(i.bluetooth).nombre%></td>
							<% end %>
						</tr>
						<tr>
							<th>Puertos USB 2.0</th>
							<% @selected_items.each do |i| %>
							<td><%= i.usb_2%></td>
							<% end %>
						</tr>
						<tr>
							<th>Puertos USB 3.0</th>
							<% @selected_items.each do |i| %>
							<td><%= i.usb_3%></td>
							<% end %>
						</tr>
					</table>
				</div>
			</div>

			<h3>Dimensiones</h3>
			<div class="row">
				<div class="span12">
					<table class="table table-bordered compare-table <%= 'compare-'+ @items_to_compare.to_s %>">
						<tr>
							<th>Largo</th>
							<% @selected_items.each do |i| %>
							<td><%= i.largo%></td>
							<% end %>
						</tr>
						<tr>
							<th>Ancho</th>
							<% @selected_items.each do |i| %>
							<td><%= i.ancho%></td>
							<% end %>
						</tr>
						<tr>
							<th>Profundidad</th>
							<% @selected_items.each do |i| %>
							<td><%= i.profundidad%></td>
							<% end %>
						</tr>
						<tr>
							<th>Peso</th>
							<% @selected_items.each do |i| %>
							<td><%= i.peso%></td>
							<% end %>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>	
</div>
