<div class="container">
	<h1>Ando Viendo - Computadores</h1>
	<div class="row">
		<div class="span3">
			<div class="well sidebar-nav">
				<h4>Detalles de Busqueda</h4>
				<%= form_for :search, :remote => true, :url => {:action => "search"}, :html => {:id => 'search_form'} do |s| %>
					<table class="table table-condensed nav-table">
						<tr>
							<th colspan="2">Categoria</th>
						</tr>
						<tr>
							<td><%= s.radio_button :category, :any, :checked => true, :onclick => "$('#search_form').submit()"%></td>
							<td>Todas</td>
						</tr>
						<tr>
							<td><%= s.radio_button :category, :all_in_one, :onclick => "$('#search_form').submit()"%></td>
							<td>All In One</td>
						</tr>
						<tr>
							<td><%= s.radio_button :category, :notebook, :onclick => "$('#search_form').submit()"%></td>
							<td>Notebooks</td>
						</tr>
						<tr>
							<th colspan="2">Procesador</th>
						</tr>
						<tr>
							<td><%= s.radio_button :proce, :any, :checked => true, :onclick => "$('#search_form').submit()"%></td>
							<td>Todas</td>
						</tr>
						<tr>
							<td><%= s.radio_button :proce, :amd, :onclick => "$('#search_form').submit()"%></td>
							<td>AMD</td>
						</tr>
						<tr>
							<td><%= s.radio_button :proce, :intel, :onclick => "$('#search_form').submit()"%></td>
							<td>Intel</td>
						</tr>
						<tr>
							<th colspan="2">Marca</th>
						</tr>
						<tr>
							<td colspan="2"><%= s.select :marca, ComputersMarca.all.collect{|m| [m.marca, m.id]},{:prompt => 'Todas'}, {:onchange => "$('#search_form').submit()"}%></td>
						</tr>
						<tr>
							<th colspan="2">Tamaño de Pantalla</th>
						</tr>
						<tr>
								<td colspan="2"><%= s.select :screen_size , ComputersScreenSize.all.collect{|m| [m.size, m.id]},{:prompt => 'Todas'}, {:onchange => "$('#search_form').submit()"}%></td>
						</tr>
						<tr>
							<th colspan="2">Sistema Operativo</th>
						</tr>
						<tr>
							<td colspan="2"><%= s.select :sist_operativo, ComputersSo.all.collect{|m| [m.sist_operativo, m.id]},{:prompt => 'Todos'}, {:onchange => "$('#search_form').submit()"}%></td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
		<div class="span9">
			<%= render :partial => 'computers_table'%>
		</div>
	</div>

</div>
