<div id="televisions_table">
	<table class="table product-table">
		<thead>
			<th></th>
			<th></th>
			<th>Imagen</th>
			<th>Marca</th>
			<th>Modelo</th>
			<th>Tecnología</th>
			<th>Tamaño</th>
			<th>Precio de Referencia</th>
		</thead>
		<tbody>
			<% if !@televisions.empty? %>
				<% @televisions.each do |television|%>
					<tr>
						<td><%= hidden_field_tag 'product[]', 'd-'+television.id.to_s%></td>
						<td><%= check_box_tag 'product[]', 'a-'+television.id.to_s, session[:selected_items].detect{|item| item.id == television.id} , :onclick => "$('#select_products_form').submit();" %></td>
						<td><%= link_to (image_tag television.img_ref, :size => '120x120'), television %></td>
						<td><%= link_to Marca.find(television.marca_id).nombre_marca, television %></td>
						<td><%= television.modelo.upcase%></td>
						<td><%= DisplayTech.find(television.display_tech).nombre%></td>
						<td><%= DisplaySize.find(television.display_size_id).size%></td>
						<td><%= number_to_currency(television.precio, :unit => '$', :precision => 0) %></td>
					</tr>
				<% end %>
			<% else %>
				<td colspan="8">No se ha podido encontrar productos con las caracteristicas requeridas</td>
			<% end %>
		</tbody>
	</table>
</div>