<div class="container">
	<h1>Ando Viendo - Televisores</h1>
	<div class="row">
		<div class="span3">
			<div class="well sidebar-nav">
				<h4>Detalles de Busqueda</h4>
				<%= form_for :search, :remote => true, :url => {:action => "search"}, :html => {:id => 'search_form'} do |s| %>
					<table class="table table-condensed nav-table">
						<tr>
							<th colspan="2">Tecnología</th>
						</tr>
						<tr>
							<td><%= s.check_box :tech_all, {:checked => true, :onclick => "$('#search_form').submit()"}, 'tech_all', ''%></td>
							<td>Todas</td>
						</tr>
						<tr>
							<td><%= s.check_box :tech_led,{:onclick => "$('#search_form').submit()"}, 1, ''%></td>
							<td>LED</td>
						</tr>
						<tr>
							<td><%= s.check_box :tech_lcd,{:onclick => "$('#search_form').submit()"}, 2, ''%></td>
							<td>LCD</td>
						</tr>
						<tr>
							<td><%= s.check_box :tech_plasma,{ :onclick => "$('#search_form').submit()"}, 6, ''%></td>
							<td>Plasma</td>
						</tr>
						<tr>
							<th colspan="2">Tamaño de Pantalla</th>
						</tr>
						<tr>
							<td>Mínimo</td>
						</tr>
						<tr>
							<td><%= s.select :display_size_min, display_size_select('televisores', 'ASC'), {:onclick => "$('#search_form').submit()"}%></td>
							<td>Todas</td>
						</tr>
						<tr>
							<td><%= s.radio_button :proce_id, :amd, :onclick => "$('#search_form').submit()"%></td>
							<td>AMD</td>
						</tr>
						<tr>
							<td><%= s.radio_button :proce_id, :intel, :onclick => "$('#search_form').submit()"%></td>
							<td>Intel</td>
						</tr>
						<tr>
							<th colspan="2">Marca</th>
						</tr>
						<tr>
							<td colspan="2"><%= s.select :marca_id, marcas_select('computadores'),{:prompt => 'Todas'}, {:onchange => "$('#search_form').submit()"}%></td>
						</tr>
						<tr>
							<th colspan="2">Tamaño de Pantalla</th>
						</tr>
						<tr>
								<td colspan="2"><%= s.select :screen_size , display_size_select('computadores'),{:prompt => 'Todas'}, {:onchange => "$('#search_form').submit()"}%></td>
						</tr>
						<tr>
							<th colspan="2">Sistema Operativo</th>
						</tr>
						<tr>
							<td colspan="2"><%= s.select :sist_operativo_id, ComputersSo.all.collect{|m| [m.sist_operativo, m.id]},{:prompt => 'Todos'}, {:onchange => "$('#search_form').submit()"}%></td>
						</tr>
					</table>
				<% end %>
			</div>
		</div>
		<div class="span9">
			<%= form_tag select_for_compare_computers_path, :remote => true, :id => 'select_products_form' do %>
				<%= render :partial => 'computers_table'%>
			<% end %>
		</div>
	</div>
	<%= form_tag compare_computers_path do %>
		<%= render :partial => 'selected_items_toolbar'%>
	<% end %>
</div>
