<!DOCTYPE html>
<html>
<head>
  <title>AndoViendo.cl - Tu Compra Inteligente!</title>
  <%= stylesheet_link_tag	"vendor", :media => "all", :debug => false%>
  <%= stylesheet_link_tag	"application", controller_name %>
  <%= javascript_include_tag "vendor", :debug => false%>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>